<!DOCTYPE html>
<html>
  <head>
    <title>Detectare figuri geometrice</title>
  </head>
  <body>
    <h1>Upload imagine pentru detectarea formelor</h1>
    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" name="image" required />
      <button type="submit">Trimite</button>
    </form>

    <div id="results"></div>

    <script>
      const form = document.getElementById("uploadForm");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const fileInput = form.querySelector('input[name="image"]');
        const formData = new FormData();
        formData.append("image", fileInput.files[0]);

        const response = await fetch("/upload", {
          method: "POST",
          body: formData,
        });

        const data = await response.json();
        if (data.error) {
          document.getElementById("results").innerHTML = data.error;
        } else {
          const container = document.getElementById("results");
          container.innerHTML = "";

          data.shapes.forEach((shape) => {
            const p = document.createElement("p");
            p.textContent = `${shape.name}: ${shape.count}`;
            if (shape.count > 0) {
              container.appendChild(p);
            }
          });
          const img = document.createElement("img");
          img.src = data.processed_image;
          img.width = 400;
          container.appendChild(img);
        }
      });
    </script>
  </body>
</html>
